<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lottery.dao.UserLotteryMapper" >
  <resultMap id="BaseResultMap" type="com.lottery.model.UserLottery" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="lotterydate" property="lotterydate" jdbcType="TIMESTAMP" />
    <result column="lotteryitemid" property="lotteryitemid" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="exchangedate" property="exchangedate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, lotterydate, lotteryitemid, userid, exchangedate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lottery.model.UserLotteryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user_lottery
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_user_lottery
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_user_lottery
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lottery.model.UserLotteryExample" >
    delete from t_user_lottery
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lottery.model.UserLottery" >
    insert into t_user_lottery (id, lotterydate, lotteryitemid, 
      userid, exchangedate)
    values (#{id,jdbcType=INTEGER}, #{lotterydate,jdbcType=TIMESTAMP}, #{lotteryitemid,jdbcType=INTEGER}, 
      #{userid,jdbcType=INTEGER}, #{exchangedate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lottery.model.UserLottery" >
    insert into t_user_lottery
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="lotterydate != null" >
        lotterydate,
      </if>
      <if test="lotteryitemid != null" >
        lotteryitemid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="exchangedate != null" >
        exchangedate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="lotterydate != null" >
        #{lotterydate,jdbcType=TIMESTAMP},
      </if>
      <if test="lotteryitemid != null" >
        #{lotteryitemid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="exchangedate != null" >
        #{exchangedate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lottery.model.UserLotteryExample" resultType="java.lang.Integer" >
    select count(*) from t_user_lottery
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_user_lottery
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.lotterydate != null" >
        lotterydate = #{record.lotterydate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lotteryitemid != null" >
        lotteryitemid = #{record.lotteryitemid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.exchangedate != null" >
        exchangedate = #{record.exchangedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_user_lottery
    set id = #{record.id,jdbcType=INTEGER},
      lotterydate = #{record.lotterydate,jdbcType=TIMESTAMP},
      lotteryitemid = #{record.lotteryitemid,jdbcType=INTEGER},
      userid = #{record.userid,jdbcType=INTEGER},
      exchangedate = #{record.exchangedate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lottery.model.UserLottery" >
    update t_user_lottery
    <set >
      <if test="lotterydate != null" >
        lotterydate = #{lotterydate,jdbcType=TIMESTAMP},
      </if>
      <if test="lotteryitemid != null" >
        lotteryitemid = #{lotteryitemid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="exchangedate != null" >
        exchangedate = #{exchangedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lottery.model.UserLottery" >
    update t_user_lottery
    set lotterydate = #{lotterydate,jdbcType=TIMESTAMP},
      lotteryitemid = #{lotteryitemid,jdbcType=INTEGER},
      userid = #{userid,jdbcType=INTEGER},
      exchangedate = #{exchangedate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>